
  .th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
  }

  .td {
    border: 1px solid #ddd;
    padding: 8px;
  }